@model List<Dictionary<string, string>>

@{
    ViewBag.Title = "Forecast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hello</h1>
@foreach (var weather in Model)
{
  
        <ul>
            <p>Date: @weather["date"]</p>
            <li>Min Temperature: @weather["minTemp"]</li>
     
            <li>Max Temperature: @weather["maxTemp"]</li>
    
            <li>Weather Summary: @weather["summary"]</li>
            <hr/>
        </ul>



}





