@model Forecast.Models.Location

@{
    ViewBag.Title = "Forecast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get some info!</h2>
<hr />
@Html.ActionLink("Get the data!", "GetLocations")
<br />
@*@Html.ActionLink("Send a new message", "SendMessage")*@